<section class="section hero" aria-label="hero" data-section>
        <div class="container">

          <div class="hero-content">

            <h1 class="h1 hero-title">"Buy & Sell Coins Seamlessly on Our Platform</h1>

            <p class="hero-text">
                Experience the simplest, safest, and fastest way to trade coins on our platform.
            </p>

            <a routerLink="/stock" class="btn btn-primary">Get started now</a>

          </div>

          <figure class="hero-banner">
            <img src="hero-banner.png" width="570" height="448" alt="hero banner" class="w-100">
          </figure>
          <app-chat-bot-ai/>
        </div>
      </section>