<nav class="navi">
    <div class="logo">
        <h1>TradingApp</h1>
    </div>
    <ul [class.showData]="isMenuOpen">
        <li>
          <a routerLink="/" 
             routerLinkActive="active" 
             [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li>
          <a routerLink="/aboutus" 
             routerLinkActive="active">About Us</a>
        </li>
        <!-- <li *ngIf="!username">
          <a routerLink="/review" 
             routerLinkActive="active">Review</a>
        </li> -->
        <li *ngIf="username">
            <a routerLink="/wishlist" 
               routerLinkActive="active">Wishlist</a>
          </li>
        <li *ngIf="!username">
          <a routerLink="/contact-us" 
             routerLinkActive="active">Contact</a>
        </li>
        <li *ngIf="username">
            <a routerLink="/Watchist" 
               routerLinkActive="active" routerLink="/portfolio">PortFolio</a>
          </li>

        <li *ngIf="username" class="user-menu">
            <span class="user-greeting" (click)="toggleDropdown()">
                <i class="fa-solid fa-user"></i>
                Hi, {{ username }}
                <i class="fa-solid fa-caret-down"></i> 
            </span>
            <ul class="dropdown" *ngIf="isDropdownOpen">
                <!-- <li (click)="navigateToWishlist()">Wishlist</li> -->
                <li class="gg" (click)="goToProfile()">Profile</li>
                <li (click)="logout()">Logout</li>
            </ul>            
        </li>
        <li *ngIf="!username">
            <a routerLink="/login" class="btn">LogIn</a>
        </li>
    </ul>

    <div class="icon" (click)="toggleMenu()">
        <i [ngClass]="isMenuOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'" id="barIcon"></i>
    </div>
</nav>
