<app-navbar/>
<div class="full">
  <div class="wishlist-container">
    <!-- <mat-icon routerLink="/" class="home-icon nav-icon" aria-label="Go to Home">home</mat-icon> -->
    <h2>Your Wishlist</h2>
    <div class="wishlist-items">
      <div class="wishlist-item" *ngFor="let stock of wishlist">
        <div class="stock-info">
          <!-- <h3 (click)="goToCard(stock)">{{ stock.name }}</h3>  -->
          <h3>{{ stock.name }}</h3> 
          <p>{{ stock.symbol }}</p>
        </div>
        <button class="remove-btn" (click)="removeFromWishlist(stock.name)">Remove</button>
      </div>
    </div>
    <div *ngIf="wishlist.length === 0" class="empty-wishlist">
      <p>Your wishlist is empty.</p>
    </div>
  </div>
</div>
<app-footer/>

<!-- <mat-spinner></mat-spinner> -->
