<div class="login-form">
  <!-- <a (click)="goHome()" class="fa-solid fa-home home-btn"></a> -->
  <div class="home-icon" (click)="goHome()">
    <svg class="home-btn" xmlns="http://www.w3.org/2000/svg" viewBox="-7 -8 40 40" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
      <polyline points="9 22 9 12 15 12 15 22"></polyline>
    </svg>
  </div>
    <h1>Login</h1>
    <div class="container">
      <div class="main">
        <div class="content">
          <h2>Log In</h2>
          <form [formGroup]="formData" (ngSubmit)="onSubmit()">
            <label for="email">Email:</label>
            <input formControlName="email" type="text" id="email" placeholder="Enter your email" required />
            <div class="error-msg" *ngIf="formData.get('email')?.invalid && formData.get('email')?.touched">
              <small *ngIf="formData.get('email')?.errors?.['required']">*Email is required</small>
              <small *ngIf="formData.get('email')?.errors?.['email']">*Invalid email format</small>
            </div>
            <br>
            
            <label for="password">Password:</label>
            <input formControlName="password" type="password" id="password" placeholder="Enter your password" required />
            <div class="error-msg" *ngIf="formData.get('password')?.invalid && formData.get('password')?.touched">
              <small *ngIf="formData.get('password')?.errors?.['required']">*Password is required</small>
              <small *ngIf="formData.get('password')?.errors?.['minlength']">*Password must be at least 8 characters</small>
            </div>
            <br>
  
            <button class="myBtn" type="submit" [disabled]="formData.invalid || isLoading">
              <span *ngIf="!isLoading">Login</span>
              <mat-spinner *ngIf="isLoading" class="custom-spinner" [diameter]="25"></mat-spinner>
            </button>
            
            <div class="signup-prompt">
              <p>New user? <a style="cursor: pointer;" routerLink="/signup">Create an account</a></p>
            </div>
          </form>
        </div>
        <div class="form-img">
          <img src="login.gif" alt="User Animation" />
        </div>
      </div>
    </div>
  </div>
  